.etn-btn,
.etn-btn::after {
  padding: 15px 40px;
  text-decoration: none;
  font-size: 36px;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #0e0e0e;
  outline: transparent;
  position: relative;
}

.etn-btn::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "AVAILABLE NOW";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,

    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.etn-btn:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

#box-2 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/i2.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  text-align: center;
}

h1 {
  font-family: arial black;
  font-size: 50px;
  color: white;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 576px) {
  #logoimage1 {
    width: 50%;
    margin-top: 200px;
  }
}

@media (max-width: 575px) {
  #logoimage1 {
    width: 50%;
    margin-top: 200px;
  }
}

@media (min-width: 768px) {
  #logoimage1 {
    width: 40%;
    margin-top: 200px;
  }
}

@media (min-width: 991px) {
  #logoimage1 {
    width: 35%;
    margin-top: 20%;
  }
}

@media (min-width: 1200px) {
  #logoimage1 {
    width: 25%;
    margin-top: 200px;
  }
}

@media (min-width: 300px) {
  #heading1 {
    font-size: 18px;
    margin-top: 20px;
  }
}

@media (min-width: 576px) {
  #heading1 {
    font-size: 25px;
    margin-top: 20px;
  }
}

@media (min-width: 991px) {
  #heading1 {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  #heading1 {
    font-size: 35px;
  }
}

@media (min-width: 767px) {
  #heading1 {
    font-size: 25px;
  }
}

@media (min-width: 576px) {
  #heading1 {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  #button1 {
    font-size: 20px;
  }
}

#button1 {
  margin-top: 30px;
  background-color: black;
  border-color: black;
}

#button1:hover {
  background-color: white;
  color: black;
  border-color: white;
}

a:hover {
  color: #000000;
}

a:hover {
  color: #636262;
}
